/* Обнулення декоративних властивостей для списків */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* прибираємо підкреслення для посилань */
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  text-indent: 0%;
}