/* Обнулення декоративних властивостей для списків */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* прибираємо підкреслення для посилань */
a {
  text-decoration: none;
  color: inherit;
}

p {
  text-indent: 0%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.logo-italic {
  font-style: italic;
}

.nav-links-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.s-one {
  background: rgba(17, 17, 17, 0.6);
}

.s-one-heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.s-one-buy-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background: #fd9222;
}

.s-one-how-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.s-one-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

.benefits {
  background: #1e1823;
}

.benefits-heading {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.ingredients {
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.span-orange {
  color: #fd9222;
}

.ingredients-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.ingredients-list {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredients-list-item-orange {
  color: #fff;
  background: #fd9222;
}

.ingredients-list-item-white {
  color: #111;
  background: #fff;
}

.ingredients-list-item-black {
  color: #fff;
  background: #1e1823;
}

.how {
}

.made-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.made-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}
